
  <h3 class="best">BEST SELLERS</h3>
    <div style="display: flex;">
            <div class="col-md-4">
            
                <div class="row" style="padding-bottom: 30px;">
                <div class="col-md-12">
                    <div class="lap">
                        <img class="mou"src="assets/mainbody/8.png" style="width:100%">
                            <div class="tops">
                                <h3>New Laptops</h3>
                                <p>Now starting at $1299</p>
                                <button class="btn btn-primary now">Shop Now</button>
                            </div>
                    </div>
                </div>
                </div>
                <div class="row">
                   <div class="col-md-6 ">
                        <div class="lap1">
                            <img class="mou" src="assets/mainbody/9.png" style="width:100%">
                        <div class="tops1">
                           
                            <button class="btn btn-primary now">Shop Now</button>
                         </div>
                        </div>
                   </div>
                   <div class="col-md-6">
                        <div class="lap2">
                        <img class="mou" src="assets/mainbody/10.png" style="width:100%">
                        <div class="tops2">
                         
                            <button class="btn btn-primary now">Shop Now</button>
                        </div>
                    </div>
                    </div>
             </div>
                
           </div>
        <div class="col-md-8">
                <div class="row" style="padding-bottom: 30px;">
                <div class="col-md-6">
                    <div class="lap3">
                        <img class="mainbody mou" src="assets/mainbody/5.png" style="width:100%">
                        <div class="tops3">
                           
                            <p>Now starting at $1299</p>
                            <button class="btn btn-primary now">Shop Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="lap4">
                        <img class="mainbody mou" src="assets/mainbody/6.png" style="width:100%">
                        <div class="tops4">
                           
                            <p>Now starting at $1299</p>
                            <button class="btn btn-primary now">Shop Now</button>
                        </div>
                    </div>
                    </div>
                </div>
                   
              <div class="row">
                  <div class="col-md-12">
                    <div class="lap">
                         <img  class="mainbody1 mou"src="assets/mainbody/7.png" style="width:100%">
                            <div class="tops">
                                <h3>New Laptops</h3>
                                <p>Now starting at $1299</p>
                                <button class="btn btn-primary now">Shop Now</button>
                            </div>
                        </div>

                        </div>
                  </div> 
        </div>
         
    </div>
     
    
  