<div class="contanier">
  <div class="row">
    <div  class="col-md-4" style="margin-top: 70px;" (click)="onselected(samsung)" *ngFor="let samsung of samsungimages" >
       <img src="assets\SamsungImages/{{samsung.samsung}}" style="height:240px;">
        <p class="gu">{{samsung.Model}} </p>
        <p class="gu">(SM-B310E, Blue)</p>
        <p ><span>₹11,285<span> &nbsp;&nbsp;<del>₹11,290</del></span><span style="color:green;"> &nbsp;&nbsp;5% off</span></span> &nbsp;<span style="background-color:green; color:white; width:20px;">4*</span></p>
        <p></p>
        
    </div>
    
  </div>
</div>
