 <h3 class="best">Top Products</h3>
 <div class="col-md-12">
  <div class="row" >
   
      
           <div class="col-md-3">
               <div class="mainfooter1">
                 <div class="mainfooter2">
                   <img class="main" src="assets/mainfooter/samsung.jpg" style="width:100%;">
                   
                    <h6>SAMSUNG GALAXY NOTE 8</h6>
                     <p>$36990</p>
                    <button class="btn btn-info">Add cart</button>
                  </div>
                </div>
            </div>
        <div class="col-md-3">
            <div class="mainfooter1">
                <div class="mainfooter2">
            <img class="main" src="assets/mainfooter/laptap.jpg" style="width:100%;">
            <h6>Lenovo Ideapad 330 Intel Core i5 8th Gen </h6>
            
            <p>41,490.00</p>
            <button class="btn btn-info">Add cart</button>
          </div>
          </div>
           </div>
           <div class="col-md-3">
              <div class="mainfooter1">
                  <div class="mainfooter2">
              <img class="main" src="assets/mainfooter/tv.jpg" style="width:100%;">
              <h6>Panasonic TH-32F200DX 32 Inch Full HD LED TV</h6>
              
              <p>18,000.00</p>
              <button class="btn btn-info">Add cart</button>
            </div>
            </div>
             </div>
             <div class="col-md-3">
                <div class="mainfooter1">
                    <div class="mainfooter2">
                <img class="main"src="assets/mainfooter/watch.jpg" style="width:100%;">
                
                <h6>Refrigerator(Base Stand with Drawer, Inverter Compressor)</h6>
                <p>$19,990.00</p>
                <button class="btn btn-info">Add cart</button>
              </div>
              </div>
               </div>
    </div>
  </div>
   
