.mainfooter{
    text-align: center;
}
.mainfooter1{
    width:300px;
    height: 500px;
    
  border:1px solid #00000037;

}
.mainfooter2{
    padding:10px 23px 10px 23px;
}
.mainfooter1:hover{
    box-shadow: 15px 15px 15px 15px #ccc;
}
.best{
    text-align: center;
    margin-top:55px;
    margin-bottom: 40px;
}
.main{
    transform: skew(20deg);
    animation: shake 2s infinite;
  animation-direction: alternate;
}
@keyframes shake {
    0% {
      transform: skewY(5deg);
    }
    100% {
      transform: skewY(-5deg);
    }
  }