.datas{
    margin-top: 35px;
}


.datas1{
    border: 1px solid #f0f0f0;
   padding-left: 89px;
}

.cart{
 
  padding: 10px 49px 10px 59px;
}
.buy{
    margin-left:15px;
    padding: 10px 49px 10px 59px;;

}
.el{

   font-weight: 700; 
}