.btn{
    padding: 10px 80px 10px 70px;

}
.cart1{
padding-left: 40px;
padding-right: 30px;
}
.cart2{
    padding-left: 40px;
    padding-right: 30px;
    }
    .cart3{
        padding-left: 40px;
        padding-right: 30px;
        }
.ass{
    border-top:1px solid #ccc;
    border-bottom: 1px solid rgb(190, 189, 189);
}
.fa-minus{
    font-size: 15px;
    background-color: darkblue;
    color: white;
    width: 30px;
    height: 11;
    text-align: center;
    border-radius: 10px;
  }
  .fa-plus{
   
        font-size: 15px;
        background-color: darkblue;
        color: white;
        width: 30px;
        height: 11;
        text-align: center;
        border-radius: 10px;
   
  }
  .fa-remove{
    font-size: 15px;
    background-color: darkblue;
    color: white;
    width: 30px;
    height: 11;
    text-align: center;
    border-radius: 10px;
  }